body{
    background-color: aquamarine;
}


.link{
    text-align: center;
    font-size: 50px;
}

.title-header{
    color: red;
    text-align: center;
    font-size: 100px;
}

.image{
    width: 300px; height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2header{
    text-align: center;
    font-size: 75px;
}

.description,
.olist,
.ulist{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

